# MongoDB URI (Your database link from MongoDB Atlas or local)
MONGO_URI = mongodb+srv://...

# Server Port (The port your server runs on)
PORT = 5000

# Base URL (The address where your server is accessible)
BASE_URL = http://localhost:5000

# Admin Password for protected routes (Required for things like uploading CV)
ADMIN_PASSWORD = youradminpass

# Nodemailer Settings (For receiving emails via the contact form)
EMAIL_USER = youremail@gmail.com
EMAIL_PASS = your_app_password_here