# MongoDB URI
MONGO_URI = yourmongourl

# Server Port
PORT = yourport
BASE_URL = yourbaseurl

# Admin Password for protected routes
ADMIN_PASSWORD = youradminpass

# Nodemailer (for contact form)
EMAIL_USER = youremail
EMAIL_PASS = yourpass